.navbar-right:last-child {
    margin-right: 0px;
}

.navbar li > a > span {
    margin-right: 0.2778em;
}

#logo-index {
    display: block;
    max-width: 100%;
    float: left;
}

#logo-boerse {
    float: right;
    max-width: 100%;
}
